@import "./highlight.css";

.markdown {
	h1 {
		@apply text-foreground mt-4 text-3xl font-semibold tracking-tight;
	}
	h2 {
		@apply text-foreground mt-4 text-2xl font-medium tracking-tight;
	}
	h3 {
		@apply text-foreground mt-4 text-lg font-medium;
	}
	p {
		@apply leading-7 [&:not(:first-child)]:mt-3;
	}
	a {
		@apply text-blue-700 underline transition-colors hover:text-blue-700/80 dark:text-blue-500 dark:hover:text-blue-500/80;
	}
	ul {
		@apply mb-4 list-['-_'] pl-6;
	}
	ol {
		@apply mb-4 list-decimal pl-6;
	}
	li {
		@apply mb-1;
	}
	code {
		@apply bg-muted text-foreground rounded border-1 px-1 py-0.5 text-sm;
	}
	pre code {
		@apply border-0;
	}
	blockquote {
		@apply mt-6 border-l-2 pl-6 italic;
	}
	img {
		@apply my-4 h-auto max-w-full rounded-lg;
	}
	table {
		@apply my-4 border-separate rounded-lg border text-sm shadow-sm;
		border-spacing: 0;
		code {
			@apply text-xs;
		}
		th,
		td {
			@apply border px-4 py-2 text-left;
		}
		th {
			@apply bg-muted text-foreground font-medium;
		}
		tr:first-child th:first-child {
			@apply rounded-tl-lg;
		}
		tr:first-child th:last-child {
			@apply rounded-tr-lg;
		}
		tr:last-child td:first-child {
			@apply rounded-bl-lg;
		}
		tr:last-child td:last-child {
			@apply rounded-br-lg;
		}
	}
}
